@tailwind base;
@tailwind components;
@tailwind utilities;

form {
  min-width: 300px;
  min-height: 30px;
  background-color: white;
  shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h2 {
  text-align: center;
  font-weight: 600;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

label {
  display: block;
  color: rgb(55 65 81 / var(--tw-text-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  color: #374151;
  line-height: 1.25;
  width: 100%;
  border-radius: 0.25rem;
  border-width: 1px;
  appearance: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
